<navbar>
</navbar>
<div class="background"> 

    <div class="transbox">
  <body class='bg-grid-line'>
</body>
<div class='card2'>

    <article>
    <table width="495" border="0" align="center">
      <tr>
        <th width="274" scope="row"><p><img src="/assets/images/main_utils/mapgrotte.jpg" width="314" height="300" align="middle" /> </p>
        <p>&nbsp;</p></th>
        <td width="439"> 
            

       <!-- <iframe src="/niveauiframe.html"  height="450px" width="350px" frameborder="0"></iframe>
      -->  </td>
      </tr>
    </table>
  </article>

 



</div>
<button type="button" class="btn btn-success" ng-click="startGamefromProfilClick()">Jouer</button>

</div>
<footer></footer>
