<navbar>
</navbar>
<div class="background"> 
<!--
<p>&nbsp;</p>
   

  <div class="transbox">
  <body class='bg-grid-line'>
</body>
<div class='card2'>

    <article2>
   
    <h2> <img alt='My Pic' id='thumb' src='../../public/img/Avatar.jpg'>Informations personnelles</h2>
    <div class='area'>
        <p>&nbsp;</p>
   
    <h3>Nom: DIDON</h3>
      <h3>Prenom: Bryan</h3>
      <h3>Age: 23</h3>
      <h3>Sexe: M</h3>
      <h3>Adresse email: Bryan.didon@hotmail.fr</h3>
      <h3>Classe: 2</h3>
      
    
      
       <ul>
       
         
      </ul>
      
      
    </div>
   
  </article2>

 



</div>
    
  <button type="button" class="btn btn-default">Modifier</button>

<button type="button" class="btn btn-success">Continuer</button>
<button type="button" class="btn btn-success" ng-click="goiframe()">Choix du Niveau</button>
</div>
</div>
-->
    <div class="transbox">
  <body class='bg-grid-line'>
</body>
<div class='card2'>

    <article>
    <table width="495" border="0" align="center">
      <tr>
        <th width="274" scope="row"><p><img src="/assets/images/main_utils/mapgrotte.jpg" width="314" height="300" align="middle" /> </p>
        <p>&nbsp;</p></th>
        <td width="439"> 
            

       <!-- <iframe src="/niveauiframe.html"  height="450px" width="350px" frameborder="0"></iframe>
      -->  </td>
      </tr>
    </table>
  </article>

 



</div>
<button type="button" class="btn btn-success" ng-click="startgameP()">Jouer</button>

</div>
<footer></footer>
