
<navbar></navbar>

<div class="background"> 

<p>&nbsp;</p>
   

  <div class="transbox">
  <body class='bg-grid-line'>
</body>
<div class='card2'>

    <article2>
               

    <h2> Informations personnelles</h2>
    <div class='area'>
        <p>&nbsp;</p>
   <!-- using a scope variable //-->
<img gravatar-src="user.email" gravatar-size="100">

    <h3>Nom: DIDON</h3>
      <h3>Prenom: Bryan</h3>
      <h3>Age: 23</h3>
      <h3>Sexe: M</h3>
      <h3>Adresse email: Bryan.didon@hotmail.fr</h3>
      <h3>Classe: 2</h3>
       <ul>
      </ul>
          
    </div>
   
  </article2>

</div>
    
  <button type="button" class="btn btn-default" ng-click="settings()">Modifier</button>
<button type="button" class="btn btn-success" ng-click="goiframe2()">Choix du Niveau</button>

<button type="button" class="btn btn-success" ng-click="startgame()">Jouer</button>
      
</div>
</div>
<footer></footer>
