
<navbar></navbar>

<div class="background"> 

</br>

  <div class="transbox">
  
<div class='card2'>

    <article2>
               

    <h2> Informations personnelles</h2>
    <div class='area'>
        </br>
   <!-- using a scope variable //-->
<img gravatar-src="user.email" gravatar-size="100">
    <h3>Nom: {{ getCurrentUser().name }}</h3>
      <h3>Prenom: {{ getCurrentUser().name }}</h3>
      <h3>Age: 23</h3>
      <h3>Sexe: M</h3>
      <h3>Adresse email: {{ getCurrentUser().email }}</h3>
      <h3>Classe: 2</h3>
       <ul>
      </ul>
          
    </div>
   
  </article2>

</div>
    
  <button type="button" class="btn btn-default" ng-click="settingsClick()">Modifier</button>
<button type="button" class="btn btn-success" ng-click="GoiframefromProfilClick()">Choix du Niveau</button>

<button type="button" class="btn btn-success" ng-click="startGameClick()">Jouer</button>
      
</div>
</div>
<footer></footer>
