
#gameDiv{
    overflow:hidden;
    display:block;
 float:left;
  height:535px;
    width:57%;
    margin:5px;
    border-radius: 10px;
}
#gameDivRight{
    display: inline-block;
  height:490px;
    width:41%;
    float:right;
    margin:5px;
    margin-right: 10px;
    text-align: left;
     border-radius: 10px;
}
#executcode{
    display:block;
  height:110px;
    width:40%;
    float:right;
    margin-left:1OOpx;
    margin-right: auto;
     border-radius: 5px;
}