<navbar></navbar>
<!-- game utils  -->
<script src="game_module/game/controllers/class/map.js"></script>
<script src="game_module/game/controllers/class/robot.js"></script>
<script src="game_module/game/controllers/class/coin.js"></script>
<script src="game_module/game/controllers/state/boot.js"></script>
<script src="game_module/game/controllers/state/load.js"></script>
<script src="game_module/game/controllers/state/play.js"></script>
<script src="game_module/game/controllers/game.js"></script>
<!-- end game utils -->
<div class="card1">
    <div class="col-md-6" id="gameDiv"></div>

    <div class="ace_editor col-md-6" ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'twilight',
  mode: 'javascript',
  onLoad: aceLoaded,
  onChange: aceChanged }" ng-model=code id="gameDivRight"></div>

</div>
<div><button ng-click="execute(code)" class="btn btn-primary">Executer!</button>
    <select name="lvl" size="1" id="lvl" onchange="playState.restart();">
    <option value="1" selected="selected">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select></div>
</br>
</br>

</br>
<footer></footer>
 