<navbar></navbar>

<img src="../../../assets/images/main_utils/Banniere_UNDERBOT.png" width="700" height="109" />

</br>
</br>
</br>
</br>
</br>

<!--when we are connected, the image "play" we redirigie to the authentication page
-->
<li ng-hide="isLoggedIn()">

    <a ui-sref="login">

        <img src="../../../assets/images/main_utils/boutons-jouer.png" width="200" height="167" onmouseover="javascript:this.src='../../../assets/images/main_utils/boutons-jouer2.png';" onmouseout="this.src='../../../assets/images/main_utils/boutons-jouer.png';" />
    </a>
</li>
<!--when we are connected, the image "play" we redirigie to player profile
-->
<li ng-show="isLoggedIn()">
    <a ui-sref="profil">

        <img src="../../../assets/images/main_utils/boutons-jouer.png" width="200" height="167" onmouseover="javascript:this.src='../../../assets/images/main_utils/boutons-jouer2.png';" onmouseout="this.src='../../../assets/images/main_utils/boutons-jouer.png';" />
    </a>
</li>
    
<footer></footer>
