<navbar></navbar>

<!--
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
-->
<img src="../../../assets/images/main_utils/Banniere_UNDERBOT.png" width="700" height="109" />
</br>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!--jouer lorsque nous ne somme pas login  nous redirige vers la page authentification 
-->
<li ng-hide="isLoggedIn()">

    <a ui-sref="login">

        <img src="../../../assets/images/main_utils/boutons-jouer.png" width="200" height="167" onmouseover="javascript:this.src='../../../assets/images/main_utils/boutons-jouer2.png';" onmouseout="this.src='../../../assets/images/main_utils/boutons-jouer.png';" />
    </a>
</li>
<!--lorsque nous somme connecté l'image login nous redirigie vers le profile du joueur 
-->
<li ng-show="isLoggedIn()">
    <a ui-sref="profil">

        <img src="../../../assets/images/main_utils/boutons-jouer.png" width="200" height="167" onmouseover="javascript:this.src='../../../assets/images/main_utils/boutons-jouer2.png';" onmouseout="this.src='../../../assets/images/main_utils/boutons-jouer.png';" />
    </a>
</li>
<footer></footer>
