extends layout

block content
 
    #divID
      p
        img(src='../../img/boutons/bouton-connexion.png', alt='connection', width='130', height='35', align='right',onmouseover="javascript:this.src='../../img/boutons/bouton-connexion2.png';", onmouseout="javascript:this.src='../../img/boutons/bouton-connexion.png';", onclick="window.open('/connection.jade', 'NOM', 'scrollbars=yes,width=550,height=600')")
      |   
      table(width='100%', height='500px', border='0')
        tr
          th(scope='row')
            p
              img(src='../../img/boutons/Banniere_UNDERBOT.png', width='765', height='116')
            |       
            p &nbsp;
            |       
            p &nbsp;
            |       
            p &nbsp;
            |       
            p &nbsp;
            |       
            p
              
              img(src='../../img/boutons/boutons-jouer.png',width='188', height='151', alt='Image', onmouseover="javascript:this.src='../../img/boutons/boutons-jouer2.png';", onmouseout="javascript:this.src='../../img/boutons/boutons-jouer.png';")
              


      |   
      p
    a(href='connect.jade') teste
      p &nbsp;
    p &nbsp;

