<div class="row2">
    <p>&nbsp;</p>

    <h1>Register User by file import</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <form class="form" name="form" ng-submit="registerUserByFileImport(form)" novalidate>

        <label class="file">
            <input type="file" id="input" onchange="angular.element(this).scope().onFileChange(this)" accept=".csv ,.json">
        </label>
        </br>
       </br>
        <button class="btn btn-primary" type="submit">
            Create
        </button>

</div>
