<navbar></navbar>

<div class="row">
    <div class="col-sm-12">
        <h1>Register User by file import</h1>
    </div>
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="registerUserByFileImport(form)" novalidate>

            <label class="file">
                <!--<input type="file" id="file" accept=".csv , .json"  />-->
                <div ng-file-reader on-readed="onReaded( event, file )" read-method="readMethod" accept=".csv , .json"></div>
                <!--<span class="file-custom"></span>-->
            </label>

            <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Create
            </button>

    </div>
</div>
<footer></footer>
