<navbar></navbar>

<div class="row">
    <div class="col-sm-12">
        <h1>Register User by file import</h1>
    </div>
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="registerUserByFileImport()" novalidate>

            <label class="file">
                <!--<input type="file" id="file" accept=".csv , .json"  />-->
                <input type="file" id="input" onchange="angular.element(this).scope().onFileChange(this)" accept=".csv , .json">
                <!--<span class="file-custom"></span>-->
            </label>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Create
            </button>

    </div>
</div>
<footer></footer>
