<navbar></navbar>

<div class="card4">
    <div class="col-md-2">
    </br>

   <img gravatar-src="user.email" gravatar-size="180" >
    </br>
   <button type="button" class="btn btn-primary" ui-sref="admin.afficherstats">Statistique </button>   
    </br>
    <button type="button" class="btn btn-primary" ui-sref="admin.afficherusers">Afficher utilisateurs</button>
   </br>
  <button type="button" class="btn btn-primary"  ui-sref="admin.adduser">Ajouter un utilisateur</button>
</br>    
<button type="button"   class="btn btn-primary" ui-sref="admin.addusers">
Importer un fichier CSV</button>

</div>

<div class="col-md-6"  ui-view>            
           
        </div>
    
    

</div>
<footer></footer>
