.container2 {
    width: 700px;
    overflow: hidden;
    text-align: center;
}
.container6 {
    width: 100%;
    overflow: hidden;
    text-align: center;
   padding-left:40px;
    padding-right:40px;
}
.row {
    width: 700px;
    margin-left: 0px;
    margin-right: auto;
}

.trash {
    color: rgb(209, 91, 71);
}

.col-md-2 {
    border-radius: 15px;
    height: 520px;
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
    margin background-color: #C0C0C0;
}

.btn-primary {
    margin: 2px;
    width: 177px;
}

#dashboardadmin{
   
    overflow-y: scroll;
     margin-top:5px;
  margin-left: 10px;
    height: 520px;
    width: 730px;
    background-color: #E0E0E0;
}
.dashboardadmin{
   
    overflow-y: scroll;
     margin-top:5px;
  margin-left: 10px;
    height: 520px;
    width: 730px;
    background-color: #E0E0E0;
}

.contenaire4 {
    width: 600px;
    height: 600px;
}
.contenaire5 {
    width: 200px;
    margin-right: 20px;
}
.link {
    cursor: pointer;
}

.user-list li {
    display: flex;
    border: none;
    border-bottom: 1px lightgray solid;
    margin-bottom: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.user-list li:last-child {
    border-bottom: none;
}
.user-list li .user-info {
    flex-grow: 1;
}
.user-list li .trash {
    display: flex;
    align-items: center;
    text-decoration: none;
}
